<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium" text="Volver" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalles del plan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <p> <b> Plan: </b> {{ plan?.name }} </p>
  </ion-row>
  <ion-row>
    <p> <b> Descripción: </b> {{ plan?.description }} </p>
  </ion-row>
  <ion-row>
    <p> <b> Fecha: </b> {{ createdAt | date:'mediumDate' }} </p>
  </ion-row>
  <ion-col>
    <div *ngFor="let member of plan?.members">
      <ion-row class="align-center">
        <ion-avatar class="avatar">
          <img alt="Silhouette of a person's head"
            [src]="'https://ui-avatars.com/api/?background=random&name='+ member.name" />
        </ion-avatar>
        {{ member.name }}
      </ion-row>
    </div>
  </ion-col>

  <ion-button id="create-modal" expand="block">Añadir gasto</ion-button>

  <div *ngIf="plan?.spents">
    <ion-col>
      <h5> Gastos registrados </h5>
      <ion-accordion-group>
        <ion-accordion *ngFor="let spent of this.plan.spents">
          <ion-item slot="header" color="light">
            <ion-label>
              {{ spent.price | currency : 'COP' }}
              {{ spent.name }}
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>{{ getMember(spent.member).name }}</p>
            <p>{{ spent.description }}</p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
    <canvas #pieCanvas></canvas>
  </div>

  <ion-button id="balance-modal" expand="block" style="margin-top: 15px;">Generar balance</ion-button>

  <ion-modal trigger="create-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Añadir gasto</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="newSpentFormGroup" (ngSubmit)="onClick()">
          <ion-item>
            <ion-label position="floating">Nombre del gasto</ion-label>
            <ion-input type="text" placeholder="Motivo del gasto" formControlName="name"></ion-input>
            <div *ngFor="let validation of validations.name">
              <span class="error"
                *ngIf="newSpentFormGroup.get('name')?.hasError(validation.type) && (newSpentFormGroup.get('name')?.dirty || newSpentFormGroup.get('name')?.touched)">
                {{validation.message}}
              </span>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-input type="text" placeholder="Descripción del gasto" formControlName="description"></ion-input>
            <div *ngFor="let validation of validations.description">
              <span class="error"
                *ngIf="newSpentFormGroup.get('description')?.hasError(validation.type) && (newSpentFormGroup.get('description')?.dirty || newSpentFormGroup.get('description')?.touched)">
                {{validation.message}}
              </span>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" placeholder="Valor del gasto" formControlName="price"></ion-input>
            <div *ngFor="let validation of validations.price">
              <span class="error"
                *ngIf="newSpentFormGroup.get('price')?.hasError(validation.type) && (newSpentFormGroup.get('price')?.dirty || newSpentFormGroup.get('price')?.touched)">
                {{validation.message}}
              </span>
            </div>
          </ion-item>
          <ion-item>
            <ion-select interface="action-sheet" placeholder="Quién realizó el gasto" formControlName="member" style="width: 100%;">
              <ion-select-option *ngFor="let member of plan.members" value="{{member.id}}"> {{ member.name }}
              </ion-select-option>
            </ion-select>
            <div *ngFor="let validation of validations.member">
              <span class="error"
                *ngIf="newSpentFormGroup.get('member')?.hasError(validation.type) && (newSpentFormGroup.get('member')?.dirty || newSpentFormGroup.get('member')?.touched)">
                {{validation.message}}
              </span>
            </div>
          </ion-item>
          <ion-button expand="full" type="submit">Crear</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="balance-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Balance del plan</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item *ngFor="let item of closeouts">
          <ion-label class="ion-text-wrap">
            {{ item }}
          </ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>